body {
  font-family: "Recursive", sans-serif;
  font-variation-settings: "MONO" 0, "CASL" 1;
  margin: 5% auto;
  max-width: 75%;
  line-height: 1.8;
}

code {
  font-family: "Recursive", monospace;
  font-variation-settings: "MONO" 1, "CASL" 1;
}
