/* https://github.com/sindresorhus/github-markdown-css */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* Custom style */
body {
  font-family: "Recursive", sans-serif;
  font-variation-settings: "MONO" 0, "CASL" 1;
  margin: 5% auto;
  max-width: 75%;
  line-height: 1.8;
  color: #24292f;
  background: #ffffff;
}

code {
  font-family: "Iosevka Term SS08 Web";
  display: inline-block;
  background: #f6f8fa;
}
